#locations{
    padding: 80px 0;
    background-color: #0E0E0E;
}
.locations_inner{
    display: flex;
    flex-direction: column;
    gap: 48px 0;
}
.locations_inner--title{
    color: #E2E2E2;
    font-size: 40px;
}