.coaches_slide{
    border-top: 4px solid #FF5540 ;
    border-radius: 10px;
    background-color: #1F1F1F;
    padding: 32px 32px 104px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px 0;
}
.coaches_slide--img{
    border-radius: 50%;
    border: 4px solid #FF5540;
}
.coaches_slide--img img{
    border-radius: 50%;
}
.coaches_slide--content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px 0;
}
.coaches_content--title{
    font-size: 24px;
    color: #E2E2E2;
}
.coaches_content--btn{
    padding: 4px 12px;
    border-radius: 5px;
    background-color: #FF5540;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.coaches_content--subtitle{
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
}